.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
}

.btns-plus-min{
float: right;
    margin-right: 10%;
}
.total-amt{
margin-left: 34%;
font-size: 21px;
}

.total-amt-div{
margin-left: 19%;
    font-size: 22px;
}
.App-header {
  background-color: lightgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 100%;
  // background-image: url('./pizza.jpg');
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.flex{
  display: flex;
}

.button{
  width: 150px;
  height: 30px;
  margin: 10px;
  background-color: rgb(76, 76, 138);
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
td{
  border: 1px dashed white;
}

.heading{
  align-items: center;
  margin: 10px;
  margin-left: 40%;
  font-size: 30px;
  font-weight: bold;
}
.green-text{
  color: rgb(7, 80, 7);
}

.ace_editor {
//   padding: 10px;
//   width: 95%;
 border-top: 1px solid gray;
 border-top: 1px solid gray;
}

.result-text{
  margin: 10px;
  margin-top: 50px;
  font-size: 14px;
}
.button:hover{
  color: rgb(15, 15, 139);
  background-color: white;
}
.small-pizza {
  color: rgb(243, 117, 28);
  font-size: 23px !important;
}

.medium-pizza {
  color: rgb(243, 117, 28);
  font-size: 28px !important;
}

.result-div{
  background-color: black;
  color: white;
  height: 300px;
}

.large-pizza {
  color: rgb(243, 117, 28);
  font-size: 32px !important;
}
.order-pizza-div{
  border: brown;
    border-style: solid;
}
// .material-icons{
//   font-family: 'Material Icons';
//   font-weight: normal;
// }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  margin: 0px 5px -3px 5px;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.pizza-tag{
  border: brown;
  font-family: auto;
}
.order-pizza{
  width: 50%;
    height: 500px;
}

.order-pizza-btn{
  /* margin-top: 25% !important; */
  color: brown !important;
    background-color: #fff !important;
    &:hover{
      color: #fff !important;
      background-color: chocolate !important;
    }
}

.App-link {
  color: #09d3ac;
}
